{% extends 'mahasiswa/base.html' %}

{% block content %}

<div class="container mt-4">

    <h2>Daftar Mahasiswa</h2>

    <a href="{% url 'tambah_mahasiswa' %}" class="btn btn-success mb-3">
        + Tambah Mahasiswa
    </a>

    <table class="table table-bordered table-striped table-hover">

        <thead class="table-dark">
            <tr>
                <th>NIM</th>
                <th>Nama</th>
                <th>Program Studi</th>
                <th>Angkatan</th>
                <th width="180">Aksi</th>
            </tr>
        </thead>

        <tbody>
        {% for mhs in mahasiswas %}
            <tr>
                <td>{{ mhs.nim }}</td>
                <td>{{ mhs.nama }}</td>
                <td>{{ mhs.programstudi }}</td>
                <td>{{ mhs.angkatan }}</td>

                <td>
                    <a href="{% url 'edit_mahasiswa' mhs.id %}"
                       class="btn btn-warning btn-sm">
                        Edit
                    </a>

                    <a href="{% url 'hapus_mahasiswa' mhs.id %}"
                       class="btn btn-danger btn-sm"
                       onclick="return confirm('Yakin ingin menghapus data?')">
                        Hapus
                    </a>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="5" class="text-center">
                    Belum ada data mahasiswa
                </td>
            </tr>
        {% endfor %}
        </tbody>

    </table>

</div>

{% endblock %}